.about-project {
  color: #FFFFFF;
  padding: 70px 18px;
  font-weight: 400;
  display: grid;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 768px) {
  .about-project {
    padding: 90px 50px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1280px) {
  .about-project {
    padding: 110px 70px;
  }
}

.about-project__title {
  font-weight: 400;
  margin: 0 0 calc(89px - 28px - 1px) 0;
  padding-bottom: 28px;
  border-bottom: 1px solid #DADADA;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.04em;
}

@media screen and (min-width: 768px) {
  .about-project__title {
    margin-bottom: calc(94px - 23px - 1px);
    padding-bottom: 23px;
    grid-column: 1/3;
    font-size: 22px;
    line-height: 27px;
  }
}

.about-project__container {
  max-width: 284px;
  margin-bottom: 56px;
}

@media screen and (min-width: 768px) {
  .about-project__container {
    max-width: 319px;
    margin-bottom: 93px;
    justify-self: end;
    margin-right: 15px;
  }

  .about-project__container:last-of-type {
    justify-self: start;
    margin-left: 15px;
  }
}

@media screen and (min-width: 1280px) {
  .about-project__container {
    max-width: 550px;
    margin-bottom: 110px;
    margin-right: 20px;
  }

  .about-project__container:last-of-type {
    margin-left: 20px;
  }
}

.about-project__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.04em;
  margin: 0 0 16px 0;
}

@media screen and (min-width: 768px) {
  .about-project__subtitle {
    margin: 0 0 22px 0;
    font-size: 20px;
    line-height: 24px;
  }
}

@media screen and (min-width: 1280px) {
  .about-project__subtitle {
    margin: 0 0 26px 0;
  }
}

.about-project__description {
  font-size: 11px;
  line-height: 16px;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .about-project__description {
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (min-width: 1280px) {
  .about-project__description {
    font-size: 14px;
    line-height: 20px;
  }
}

.about-project__table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 4px;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  color: #A0A0A0;
}

@media screen and (min-width: 768px) {
  .about-project__table {
    margin: 0;
    grid-column: 1/3;
    font-size: 14px;
    line-height: 17px;
  }
}

.about-project__table-column {
  padding: 0;
  font-weight: 400;
  text-align: center;
}

.about-project__table-column:nth-of-type(1) {
  width: 35.215%;
}

@media screen and (min-width: 768px) {
  .about-project__table-column:nth-of-type(1) {
    width: 20.96%;
  }
}

@media screen and (min-width: 1280px) {
  .about-project__table-column:nth-of-type(1) {
    width: 20%;
  }
}

.about-project__table-column_type_main {
  height: 35px;
}

@media screen and (min-width: 768px) {
  .about-project__table-column_type_main {
    height: 36px;
  }
}

.about-project__table-column_type_main:nth-of-type(1) {
  color: #000000;
  background-color: #3DDC84;
}

.about-project__table-column_type_main:nth-of-type(2) {
  color: #FFFFFF;
  background-color: #303030;
}

.about-project__table-column_type_secondary {
  font-weight: 400;
  padding-top: 10px;
}

@media screen and (min-width: 768px) {
  .about-project__table-column_type_secondary {
    padding-top: 14px;
  }
}

@media screen and (min-width: 768px) {
  .about-project__table-column_type_secondary {
    font-weight: 500;
  }
}